:root {
  --typo-font-family-primary: 'Proxima Nova', system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --color-background: #111111;
  --color-foreground: #ffffff;
  --color-brand: #E81C5A;
}